---
services:
  apache-php:
    image: tugboatqa/php:8-apache

    # Set this as the default service. This does a few things
    #   1. Clones the git repository into this service container.
    #   2. Exposes port 80 to the Tugboat HTTP proxy.
    #   3. Routes requests to the preview URL to this service.
    default: true

    alias_type: default

    commands:
      init:
        # Enable mod_rewrite
        - a2enmod rewrite
        - apache2ctl restart

      build:
        - php -r 'var_dump(gd_info());'
        - php -i
