---
name: Chromatic PR Comment Actions
on: issue_comment
env:
  TUGBOAT_API_TOKEN: ${{ secrets.TUGBOAT_API_TOKEN }}
  PULL_REQUEST_NUMBER: ${{ github.event.issue.number }}

jobs:
  get-tugboat-preview-id:
    if: github.event.issue.pull_request && contains(github.event.comment.body, '@chromatic-devops')
    runs-on: ubuntu-latest
    container:
      image: tugboatqa/cli
    outputs:
      outputPreviewId: ${{ steps.previewIdStep.outputs.TUGBOAT_PREVIEW_ID }}
    steps:
      - name: Acknowledge with reaction
        uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: +1
      - name: Get Tugboat preview ID
        id: previewIdStep
        # @TODO: What if there is more than one preview for a PR?
        run: tugboat ls previews repo=${{ secrets.TUGBOAT_REPO }} -j | jq -r "first(.[] | select(.ref == \"pr$PULL_REQUEST_NUMBER\") | .id)" | sed 's/^/TUGBOAT_PREVIEW_ID=/' | cat >> $GITHUB_OUTPUT

  rebuild-tugboat-preview:
    if: github.event.issue.pull_request && github.event.comment.body == '@chromatic-devops rebuild tugboat'
    needs: get-tugboat-preview-id
    runs-on: ubuntu-latest
    container:
      image: tugboatqa/cli
    steps:
      - name: Rebuild preview
        run: tugboat rebuild ${{ needs.get-tugboat-preview-id.outputs.outputPreviewId }} &

  run-integration-tests:
    if: github.event.issue.pull_request && github.event.comment.body == '@chromatic-devops run-integration-tests'
    needs: get-tugboat-preview-id
    runs-on: ubuntu-latest
    container:
      image: tugboatqa/cli
    steps:
      - name: Get Tugboat integration tests service ID
        run: tugboat ls services repo=${{ secrets.TUGBOAT_REPO }} preview=${{ needs.get-tugboat-preview-id.outputs.outputPreviewId }} -j | jq -r ".[] | select(.name==\"integration-tests\") | .id" | sed 's/^/tugboat_service_id_integeration_tests=/' | cat >> $GITHUB_ENV
      - name: Run integration tests
        run: tugboat shell ${{ env.tugboat_service_id_integeration_tests }} command=".tugboat/run-integration-tests.sh" &

  complete-reaction:
    if: ${{ always() && contains(join(needs.*.result, ','), 'success') }}
    needs:
      - rebuild-tugboat-preview
      - run-integration-tests
    runs-on: ubuntu-latest
    steps:
      - name: Acknowledge with reaction
        uses: peter-evans/create-or-update-comment@v2
        with:
          comment-id: ${{ github.event.comment.id }}
          reactions: rocket
